$color-background-grey: #F2F3F4;
$color-placeholder: #A5AAB2;
$color-primary-text: #4E5458;
$color-secondary-text: #7D807A;
$color-highlight-text: #7DACE9;
$color-border: #e0e0e5;
$color-background-highlight: #FFFEDC;
$color-border-separator: #f0f0f5;
$color-shadow: #cecece;
